/*
Importing font
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
:root {
	--font: "Montserrat", sans-serif;
	--font-colour: hsl(0, 100%, 100%);
	--background: hsl(0, 0%, 20%);
	--search-bar-bg: hsla(0, 0%, 0%, 0.3);
	--button-bg: hsl(188, 99%, 38%);
	--button-bg-hover: hsla(188, 99%, 38%, 0.8);
}

body {
	background-color: var(--background);
}

.account-img {
	width: clamp(1em, 8vw, 2em);
	height: clamp(1em, 8vw, 2em);
	display: block;
	padding: 1em 0 0 1em;
	cursor: pointer;
	transition: 0.7s ease-in;
}

.account-img:hover {
	filter: grayscale(70%);
	transition: 0.7s ease-out;
}

.stock-track-logo {
	@extend .account-img;
	transition: none;
	width: clamp(1em, 16vw, 16vw);
	height: clamp(1em, 16vw, 16vw);
}

#wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	#header {
		color: var(--font-colour);
		font-size: clamp(2rem, 8vw, 6rem);
		flex-grow: 5;
	}
	#search-bar {
		background-color: var(--search-bar-bg);
		padding: 0.5rem;
		color: var(--font-colour);
		flex-grow: 4;
		flex-basis: 100%;
	}
	#search-bar::placeholder {
		color: var(--font-colour);
		opacity: 1;
	}
	.button {
		background-color: var(--button-bg);
		color: var(--font-colour);
		border-radius: 10%;
		padding: 0.5em 1em;
		text-decoration: none;
		cursor: pointer;
		margin: 1rem 0 0 0;
		border: none;
		transition: 0.2s ease-in;
	}
	.button:hover {
		background-color: var(--button-bg-hover);
		transition: 0.2s ease-out;
	}
}
